/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Universal Selector Values */
* {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
    text-decoration: none;
}

/* Root Variables */
:root {
    --main-color: rgb(219, 111, 68);
    --main-color-dark: rgb(104, 50, 34);
    --main-color-light:rgb(255, 156, 117);
    --secondary-black: rgb(43, 43, 43);
}





/* ===== HEADER ===== blahhhhhhh ===========================
*/

/* Header Style & Configuration */
.header {

    /* Header Linear Gradient */
    background: #D3623F;
    background: linear-gradient(90deg, rgb(228, 100, 96) 0%, rgb(223, 133, 31) 100%);
    
    /* Proportion & Alignments */
    padding: 1.5rem 6%;
    width: -webkit-fill-available;
    top: 0;
    left: 0;

    /* Position & Arrangements */
    position: fixed;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

/* Header Logo Box Config */
.header .logo {

    /* Proper Alignment & Arrangement */
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Header's Logo & animation 🥲 */

    /* Logo */
    .header .logo .icon {

        /* Can't make color breaktrough so I choose this ;) */
        color: var(--main-color);

        /* Icon size ---- blah */
        font-size: 1.5rem;

        /* Background Color & Proportion */
        background-color: white;
        width: 1.5rem;
        height: 1.5rem;
        padding: .7rem;
        border-radius: 50px;

        /* Alignment */
        align-items: center;
        text-align: center;

        /* Flow */
        transition: .3s;
    }

    /* hover animation, cuz i wanted :0 */
    .header .logo .icon:hover{
        padding: .8rem;
        background-color: var(--main-color-dark);
    }

/* Header's Brand style */
.header .logo .brand {

    /* Font Configuration */
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 2px;
    line-height: 20px;
}

/* Navigation Box Config */
.header .navigation {

    /* Display & Alignments */
    display: flex;
    gap: 5rem;
    align-items: center;
    text-align: center;
}

/* Navigation's links */

    /* Link's Style */
    .header .navigation .links a {
        
        /* Styles & Fonts*/
        color: white;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.1rem;
        border-bottom: rgba(255, 255, 255, 0) solid 1px;

        /* Flow & Arrangements */
        padding: .3rem;
        margin-left: 1rem;

        /* Animations */
        transition: .15s;
    }

    /* Active link's style */
    .header .navigation .links .active {
        
        /* Unique Style Config */
        background: white;
        color: var(--main-color-dark);
        border-radius: 50px;
        padding: .3rem 1.5rem;

        /* Transition */
        transition: .3s;
    }

    /* Link's hover effect */
    .header .navigation .links a:hover{

        /* Style */
        border-bottom: rgb(255, 255, 255) solid 1px;
 
    }

    /* Active link's hover effect */
    .header .navigation .links .active:hover {

        /* Color Changes */
        background-color: var(--main-color-dark);
        color: white;
        border-bottom: rgba(255, 255, 255, 0) solid 1px;
    }


/* Header's Search button */

    /* Style */
    .header .navigation .search {

        /* Unique Style Config */
        font-family: "Poppins", sans-serif;
        background: white;
        color: var(--main-color-dark);
        border-radius: 50px;
        padding: .3rem 1.5rem;

        /* Transition */
        transition: .3s;
    }

    /* Transition */
    .header .navigation .search:hover {
        background-color: var(--main-color-dark);
        color: white;
    }










/* ===== body ===== blahhhhhhh ===========================
*/

/* Body Section Configuration */
.body {
    /* Display & Proportion */
    margin-top: 6rem;
}

/* Body's landing box config */
.body .landing {
    /* Display & Document flowwwwwww */
    display: flex;
}

/* Body landing's contentbox config */
.body .landing .contentBox {
    /* Alignment & Proportion */
    padding: 10rem 6%;

    
}

/* Body landing's header & subheadings styles & config */

    /* All config */
    .body .landing .contentBox .heading span {
        /* Fonts */
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-style: normal;

        /* Spacing */
        letter-spacing: 2.5px;
        line-height: 4rem;
    }

    /* 1ST CONFIG */
    .body .landing .contentBox .heading .one {
        /* Font & Size*/
        font-size: 2rem;
    }

    /* 2st configigigig */
    .body .landing .contentBox .heading .two {
        /* Font Size & Color */
        font-size: 5rem;
        color: var(--main-color);
    }

    /* 3st confiiiiiiii*/
    .body .landing .contentBox .heading .three {
        /* Font Size */
        font-size: 2.7rem;
    }

/* Body landing paragraph configURATIONNNNN */
.body .landing .contentBox .paragraph {
    /* Proportion */
    margin: 2rem 0;

    /* Font & Size */
    font-family: "Open Sans", sans-serif;
}

/* Body landing image config ? idk yes it is*/
.body .landing .image {
    /* Size & Proportion */
    width: 600px;
    height: 600px;
    margin: 2rem 6% 2rem 10%;
}

/* Body landing button config */
    /* Config */
    .body .landing .contentBox .button {
        /* Proportion & Size */
        padding: .3rem 1.5rem;
        border-radius: 50px;

        /* Font & Color */
        font-family: "Poppins", sans-serif;
        font-size: 1.4rem;
        background-color: var(--main-color);
        color: white;

        /* Border */
        border: rgba(255, 255, 255, 0) solid 2px;

        /* Animation */
        transition: .3s;
    }

    /* Hover effect */
    .body .landing .contentBox .button:hover {
        background-color: white;
        color: var(--main-color);
        border: var(--main-color) solid 2px;
    }

/* BODY - FEATURES SECTION FEATURES SECTION OF BODY SECTION, idc 🥲
 */

 /* Body feature box config */
.body .features {
    /* Display & Proportion */
    display: flex;
}

/* Body feature's contentbox config */
.body .features .contentBox {
    /* Alignment & Proportion */
    padding: 2rem 6% 10rem 6%;

    
}

/* Body feature's header & subheadings styles & config */

    /* All config */
    .body .features .contentBox .heading span {
        /* Fonts */
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        font-style: normal;

        /* Spacing */
        letter-spacing: 2.5px;
        line-height: 4rem;
    }

    /* 1ST CONFIG */
    .body .features .contentBox .heading .one {
        /* Font & Size*/
        font-size: 2rem;
    }

    /* 2st configigigig */
    .body .features .contentBox .heading .two {
        /* Font Size & Color */
        font-size: 5rem;
        color: var(--main-color);
    }

    /* 3st confiiiiiiii*/
    .body .features .contentBox .heading .three {
        /* Font Size */
        font-size: 2.7rem;
    }

/* Body feature paragraph configURATIONNNNN */
.body .features .contentBox .paragraph {
    /* Proportion */
    margin: 2rem 0;

    /* Font & Size */
    font-family: "Open Sans", sans-serif;
}


/* Body features perks box config */
.body .features .perksBox {
    /* Alignment & Proportion */
    margin: 2rem 6% 2rem 10%;

    /* Display & Document Flow */
    display: flex;
}

/* Body features perks {item-box} xconfig */
.body .features .perksBox .items {
    /* Display & Flow */
    display: flex;
    gap: 3rem;

    /* Alignments */
    align-content: center;
}

/* Body features perks items config */

    /* First config */
        /* Icon Config */
        .body .features .perksBox .items .one .icon{
            /* Color */
            color: var(--main-color);

            /* Flow */
            transition: .3s;

            /* Alignments & Size */
            text-align: center;
            font-size: 5rem;
        }

        /* Title config */
        .body .features .perksBox .items .one .title {
            /* Font & Color */
            color: var(--secondary-black);
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            
            /* Alignments % Size*/
            margin-top: 1rem;
            text-align: center;
            font-size: 2.5rem;
            line-height: 2.7rem;
        }

        /* Paragraph Config */
        .body .features .perksBox .items .one .paragraph {
            /* Font */
            font-family: "Open Sans", sans-serif;

            /* Alignments & Proportion */
            text-align: justify;
            margin-top: 1rem;
        }

    /* Second config */

        /* First Item */
            /* Icon Config */
            .body .features .perksBox .items .two .icon{
                /* Color */
                color: var(--main-color);

                /* Flow */
                transition: .3s;

                /* Alignments & Size */
                text-align: center;
                font-size: 5rem;
            }

            /* Title config */
            .body .features .perksBox .items .two .title {
                /* Font & Color */
                color: var(--secondary-black);
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                
                /* Alignments % Size*/
                margin-top: 1rem;
                text-align: center;
                font-size: 2.5rem;
                line-height: 2.7rem;
            }

            /* Paragraph Config */
            .body .features .perksBox .items .two .paragraph {
                /* Font */
                font-family: "Open Sans", sans-serif;

                /* Alignments & Proportion */
                text-align: justify;
                margin-top: 1rem;
            }

        /* Third Item */
            /* Icon Config */
            .body .features .perksBox .items .three .icon{
                /* Color */
                color: var(--main-color);

                /* Flow */
                transition: .3s;

                /* Alignments & Size */
                text-align: center;
                font-size: 5rem;
            }

            /* Title config */
            .body .features .perksBox .items .three .title {
                /* Font & Color */
                color: var(--secondary-black);
                font-family: "Poppins", sans-serif;
                font-weight: 700;
                font-style: normal;
                
                /* Alignments % Size*/
                margin-top: 1rem;
                text-align: center;
                font-size: 2.5rem;
                line-height: 2.7rem;
            }

            /* Paragraph Config */
            .body .features .perksBox .items .three .paragraph {
                /* Font */
                font-family: "Open Sans", sans-serif;

                /* Alignments & Proportion */
                text-align: justify;
                margin-top: 1rem;
            }

            /* Hover Animation */
            .body .features .perksBox .items .one .icon:hover,
            .body .features .perksBox .items .two .icon:hover,
            .body .features .perksBox .items .three .icon:hover{
                color: var(--main-color-light);
            }


/* Body Services section box config */
.body .services {
    /* Color & Background */
    background: #D3623F;
    background: linear-gradient(90deg, rgb(228, 100, 96) 0%, rgb(223, 133, 31) 100%);

    /* Display & Alignment */
    padding: 2rem 6% 2rem 6%;
}

/* Body services heading-box config */
.body .services .heading {
    /* Display & Proportion */
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* Body services columBOX - BOX configuration */
.body .services .columnBox {
    /* Flow */
    display: flex;
    gap: 2rem;
}

/* Body services colum configuration */
.body .services .column {
    /* Document Flow */
    display: flex;

    /* Alignments & Proportion */
    align-items: center;
    margin: 2rem 0;
}

/* Body services heading contentes config */
    /* Title */
    .body .services .heading .title {
        /* Font & Size */
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3rem;

        /* Proportion & Display */
        width: 40rem;
        margin-top: 1rem;
        letter-spacing: 5px;
        line-height: 3rem;
    }

    /* Paragraph */
    .body .services .heading .paragraph {
        /* Font & Color */
        font-family: "Open Sans", sans-serif;
        color: white;

        /* Display & Proportion */
        text-align: justify;
    }

/* Body services body contents config */
    /* Icon */
    .body .services .columnBox .column .icon {
        /* Font & Size */
        font-size: 2.5rem;

        /* Background & Colors */
        color: white;
        background-color: var(--secondary-black);
        
        /* Proportion & Size */
        padding: 1.6rem 2.1rem;
        border-radius: 50px;
        margin-right: 2rem;
    }

    /* Title */
    .body .services .columnBox .column .title {
        /* Font & Colours */
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2rem; 
        color: var(--secondary-black);
    }

    /* Description */
    .body .services .columnBox .column .description {
        /* Font% Colours */
        font-family: "Open Sans", sans-serif;
        color: white;

    }

/* Body testimonail-box configuration */
.body .testimonial {
    /* Alignment & Proportion */
    padding: 5rem 7.5%;
    align-items: center;
    text-align: center;
}

/* Body Testinomial conetent box xconfig */
.body .testimonial .contentBox {
    /* Alignments & Proportion */
    align-items: center;
    text-align: center;
}

/* Body testimonial review box config */
.body .testimonial .reviews {
    display: flex;
    gap: 1rem;
}

/* Body testimonial quoteline config */
    /* Quoteline Box */
    .body .testimonial .quoteline {
        align-items: center;
        text-align: left;
        color: var(--main-color);
    }

    /* Quote */
    .body .testimonial .quoteline .fa-quote-left{
        /* Font & Size */
        font-size: 5rem;

        /* Flow */
        margin-right: 1rem;
    }

    /* Stars */
    .body .testimonial .quoteline .fa-star{
        /* Font & Size */
        font-size: 2rem;
    }

/* Body testimonail content config */
    /* Title */
    .body .testimonial .title {
        /* Font & Colours */
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 3.5rem; 
        color: var(--secondary-black);

        /* Display & Proportion */
        letter-spacing: 5px;
    }

    /* Paragraph */
    .body .testimonial .contentBox .paragraph {
        /* Font & CColours */
        font-family: "Poppins" , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1rem;
        color: var(--secondary-black);

        /* Flow */
        margin-top: 2rem;
        text-align: left;
    }

    /* Author */
    .body .testimonial .contentBox .author {
        /* Font & CColours */
        font-family: "Poppins" , sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.5rem;
        color: var(--main-color);   

        /* Flow */
        margin-top: 2rem;
        text-align: left;
    }

/* FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOTEEEEEEEEEEEEEEERRRRRRRRRRRRRRRRRR
 */

 /* Footer config */
.body .footer {
    /* Background */
    background-color: var(--secondary-black);
    
    /* Display & Proportion */
    display: flex;
    padding: 2rem 7.5%;
    gap: 2rem;
}

.body .footer .logo {
    display: flex;
    align-items: center;
}

.body .footer .logo .icon {
    /* Can't make color breaktrough so I choose this ;) */
    color: var(--secondary-black);

    /* Icon size ---- blah */
    font-size: 2.5rem;

    /* Background Color & Proportion */
    background-color: var(--main-color);
    width: 2.5rem;
    height: 2.5rem;
    padding: .7rem;
    border-radius: 50px;
    margin-right: 1rem;

    /* Alignment */
    align-items: center;
    text-align: center;

    /* Flow */
    transition: .3s;
}

.body .footer .logo .brand {
    /* Font Configuration */
    font-family: "Open Sans", sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 2px;
    line-height: 20px;
}

.body .footer .paragraph {
    font-family: "Open Sans", sans-serif;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.637);
    align-items: center;
}

.body .footer .infoBox {
    /*  */
}

.body .footer .infoBox .info {
    display: flex;
    text-align: left;
}

.body .footer .infoBox .info .icon {
    font-size: 1rem;
    color: var(--main-color);

    margin-right: 1rem;
}

.body .footer .infoBox .info .content {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: .75rem; 
    margin-bottom: .7rem;
}

